
    $admin-border-color: rgba(
      $color: #c5c3c3,
      $alpha: 0.85,
    );
    $admin-menu-color:#2196F3;

    $white:#ffffff; 

    $header-footer-bg-color:#2196F3;

    $neon-button:#2196F3;


    $ff-border-color: rgb(191, 191, 191);
    $faq-border-color: rgba(
    $color: $ff-border-color,
    $alpha: 0.75,
  );

  